@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

h2 {
    font-weight: 700;
}

.container {
    margin-top: 5vh;
    font-weight: 500;
}

th {
    font-weight: 700;
}

.user{
     display: flex;
     flex-wrap: wrap;
     align-content: left;
}